/*** Side Bar ****/

.sideBar__container{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 238px;
    background-color: #FBFBFB;
    padding: 15px 0px 20px 25px;
    box-shadow: 1px 3px 7px 4px rgba(0,0,0,.2);
}

.dash__logo{
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: 500;
}

.dash__avatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.avatar__infos >span{
    font-size: 16px;
    cursor: pointer;
}
.avatar__name{
    color: #000 !important;
    font-weight: 500;
}
.avatar__title{
    color: #8A8F9C;
    font-size: 14px !important;
}
.arrow__title{
    font-size: 14px !important;
    margin-top: -3px;
    margin-right: 3px;
    margin-left: -2px;
}


.menu__items  {
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 5px;
    font-size: 14px;
  
    padding: 6px 0px 6px 9px;
    border-radius: 5px;
    display: flex;

}

.menu__items:hover{
    background-color: rgb(230, 230, 230);
}

.menu__links{
    color: #8A8F9C;
    font-weight: 500;
}
.menu__links:hover{
    text-decoration: none;
    color: #24A9E2;
}

.menu{
    margin-top: 25px;
    margin-left: -37px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.dash__icons{
    margin-top: -3px;
    margin-right: 10px;
    width: 16px;
    height: 16px;

}
.selected__item {
    color: white !important;
    background-color: #24A9E2;
}

.selected__item:hover{
    background-color: #24A9E2;
    color: #fff;
}



.dash__titles{
    font-size: 12px !important;
    font-weight: 500;
    color: #8A8F9C;
    margin-left: 37px;
}

.other__menu{
    margin-left: -37px !important;
    display: flex;
    flex-direction: column;
}

#support{
    margin-top: 25px;
}

.logout__btn{
    background-color: unset;
    border: unset;
    color: #8A8F9C;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    margin-left: -10px;
}

.logout__btn:hover{
    color: #24A9E2;
}

.logout__icon{
    margin-right: 17px;
    width: 22px;
    height: 20px;
}


.logout__item{
    position: absolute;
    bottom: 2%;
}
.logout__item:hover{
    background-color: unset;
}

#logout_icon{
    font-size: 25px;
    transform: rotate(180deg);
    margin-right: 10px;
    margin-left: 5px;
}

@media  (min-width:993px){
    .menu__items{
        max-width: 195px !important;
    }
}
@media screen and (max-width:992px){
    .sideBar__container{
        width: 180px ;
        padding: 5px;
    }
    .menu__items {
        font-size: 12px !important;
    }
}

@media screen and (max-width:767px){
    .sideBar__container{
        z-index: 1;
        width: 60px  !important;
    }
    .menu__items{
        width: 45px;
        height: 45px;
        padding: 13px 10px;
        text-align: center;
    }
    .showSidebar{
        display: block;
    }
}
@media screen and (max-width:575px){
    .sideBar__container{
        width: 100% !important;
       
    }
    .menu__items{
        width: 340px !important;
        justify-content: center;
        font-size: 20px !important;
        padding: 8px 0px 8px 0 ;
        margin: 10px;

       
    }
    .dash__logo{
        margin-bottom: 40px;
    }
    .dash__titles{
        padding: 0;
    }
    .dash__icons{
        display: none !important;
    }
    .menu__links{
        width: 100% ;
    }
    ul{
        padding: 0;
    }
   .menu{
       align-items: center;
       width: 100%;
       margin: 0;
   }
   .logout__btn{
       font-size: 20px;
    }


   .other__menu{
       align-items: center;
       width: 100%;
       margin: 0 !important;
   }
    .showSidebar{
        display: block;
    }
    .hideSidebar{
        display: none;
    }
    .closeSide__btn{
        background-color: unset;
        border: none;
        font-size: 25px;
        font-weight: 100 !important;
        color: #8A8F9C;
        padding: 0px 15px 0 0;
    }
}
